.field {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.field:last-child {
  margin-bottom: 0;
}

.label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  color: #868b95;
}

.input {
  width: 90%;
  padding: 12px;
  background-color: transparent;
  color: black;
  outline: none;
  border: 2px solid #06509e;
  border-radius: 6px;
}
